<footer
  id="contacto"
  class="flex flex-col pt-5 pb-4 bg-[#1f1e2d]/80 font-inter"
>
  <div class="flex">
    <!-- justify-between -->
    <div class="flex flex-col ml-12">
      <h1 class="text-2xl mb-2">Contacto</h1>
      <ul class="text-lg w-80">
        <li>Tel: 1123414119</li>
        <li>Mail: emazanni2022@gmail.com</li>
        <li>Discord: emanuele.zanni</li>
        <li>Instagram: @manuu4yu</li>
        <li>LinkedIn: Emanuele Zanni</li>
        <li>Github: Emanuele-Zanni</li>
      </ul>
    </div>
    <!-- <div class="px-[32rem]"></div> -->

    <div class="ml-[62rem] mr-8 pr-12 text-justify">
      Lorem Ipsum dolor sit amet, consectetur adipiscing elit in el Lorem ipsum
      dolor, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
      nesciunt sed consequuntur excepturi, dolor repellat ut libero iusto, ad
      nemo architecto sint quidem itaque corrupti illo aliquam obcaecati
      possimus. Nulla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Maxime eaque architecto accusantium, qui consectetur quam culpa ad animi
      ratione! Labore dolorum deleniti?
    </div>
  </div>

  <span class="text-center"
    >Copyright (c) 2024 - Todos los derechos reservados</span
  >
</footer>
