---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!--! Este es mi Background en un div, para hacerlo responsive, tuve que utilizar w-[100vh] para que ocupase toda la pantalla en algunas resoluciones mobile con W menores a 860px, y para que funcione nomral en pantalla de PC (ya que ahora se estaba deformando en la vista normal, osea, se invirtieron los roles) utilize el breakpoint md:w-screen -->
    <div
      class="absolute top-0 z-[-2] h-screen w-[100vh] md:w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    color: white;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background: #0a0a0a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
